# add all model tensor data
*.safetensors

# add raw speeches
data/19th_20th_speeches_all/

# add data at temporary versions
data/complete_data.csv
data/speeches.csv

# add classifier data (extra preprocessed)
data/classifier_data_A.csv
data/classifier_data_B.csv

# add best model and second best
Classifier_gbert_fulltext_weighted/
BertGc_fulltext_model/
Models/